@use "../../styles/global.module";

.sidebar {
  width: global.$sidebarWidth;
  height: 100vh;
  position: fixed;
  top: 0;

  a, hr, span, h2 {
    color: white;
  }

  .sidebarHeader {
    font-size: 1.5em;
  }
}