.site{
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 500px;
}

.button{
  text-decoration: none;
}

.button:hover{
  color: white;
  text-decoration: none;
}



li{
  margin: 5px 0 5px 0;
}


//---footer-----

.main-footer {
  color: white;
  background-color: rgb(33,37,41);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}


.list-unstyled a{
  color: white !important;
  text-decoration: None;
}

//------navbar----

.mainNavbar {
  background-color: rgb(33,37,41);
  padding: 20px 10px 20px 100px;

  a {
    color: white !important;
    font-size: x-large;
    text-decoration: none;
  }

  .navItem {
    padding: 10px 10px 10px 10px;
  }
}

.mainNavbar a:hover {
  background-color: #0092ff;
}