
.nav {
	background-color: rgba(0, 0, 256, 0.1);
	height: 80px;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(256, 256, 256);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(0, 0, 256, 0.6);
  border-radius: 2px;
  transition: all 0.15s;
  margin: 3px;
  border-radius: 6px;
}

.button:hover,
.button:focus {
  background-color: rgba(0, 0, 256, 1);
}
