.main-navbar a{
    color: white !important;
    font-size: x-large;
    text-decoration: none;

}
a {

    margin: 10px 10px 10px 10px;
}

.main-navbar a:hover{
    background-color: #0092ff;



}
.main-navbar {
    background-color: #0d6efd ;
    padding: 10px;
}